
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  width: 100%;
}


main {
  width: 100vw;

  background-color: black;
  color: white;
}

/* Navigation */
nav {

  width: 100vw;
  display: flex;
  padding: 1vw 3vw;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  opacity: 0;
  animation: top forwards 3s 1s;
}

/* Brand Section */
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand img {
  height: 3vw;
  width: 3vw;
}

.brand h1 {
  font-size: 30px;
  font-weight: 300;
}

/* Navigation Links */
.links {
  display: flex;
  align-items: baseline;
  gap: 2vw;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  transition: 0.3s ease all;
  border-radius: 10px;
  padding: 10px 15px;
}

.links a:hover {
  border: 1px solid rgb(255, 255, 255);
}


.icons {
  display: flex;
  gap: 1vw;
}

.icons i {
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.icons i:hover {
  color: rgb(222, 222, 255);
}

.elegant {

  width: 100vw;
  opacity: 0;
  animation: elegant forwards 3s 3s;
}

.elegant h1 {
  font-size: 9vw;
  font-weight: 300;
  text-shadow: 2px 2px 5px rgb(25, 0, 255);

  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0.8vw;
}


.hero-img {

  width: 100vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  padding: 0 3vw;
  opacity: 0;
  animation: photo forwards 3s linear 5s;
}

.hero-img .circle img, .hero-img .box img {
  height: 40vh;
  width: 19vw;
  object-fit: cover;



  transition: 0.5s ease all;
}

.circle img:hover, .box img:hover {
  scale: 1.06;

}

/* Catalog Section */
.catelog {

  width: 15vw;
  display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 6vw 0vw;
  align-items: center;
  justify-content: center;
  animation: moon 10s linear infinite;
  box-shadow: inset 10px 10px 10px rgb(255, 255, 255);
}

.catelog h2, .catelog i {
  font-size: 30px;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 300;
}

.brand-txt {

  display: flex;
justify-content: space-between;
  align-items: center;
padding:  2vw;
  opacity: 0;
  animation: comment 3s linear forwards;
  animation-delay: 7s;
  gap: 2vw;
}

.comment {

  display: flex;
  flex-direction: column;
  gap: 1vw;
  text-align: center;
  letter-spacing: 1px;
  width: 50%;
}

.comment h3 {
  font-size: 28px;

  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.comment p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(110, 110, 110);
}
.box{
  border-radius: 30%;
}

.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 30%;


  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.collection h4 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: white;
  transition: 0.3s ease all;
}

.collection:hover {
 
  transform: scale(1.2);
  border-bottom: 2px solid gray;

}
.collection i {
  font-size: 22px;
  color: white;
  transition: 0.3s ease all;
}

.collection i:hover {
  color: rgb(222, 222, 255);
}

@keyframes comment {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Keyframes for Animations */
@keyframes top {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes elegant {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes photo {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes comment {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moon {
  from {
    box-shadow: inset 80px 10px 25px rgba(255, 255, 255, 0.589);
  }
  to {
    box-shadow: inset 5px 10px 25px rgba(255, 255, 255, 0.685);
  }
}
